.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    /*display: block;*/
}

.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 0;
}

    .spinner:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #cef;
        border-color: #cef transparent #cef transparent;
        animation: spinner 1.2s linear infinite;
    }

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div.modal-body > div.spinner {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


div.modal-body > div.spinner:after {
    border: 6px solid #6c757d !important;
    border-color: #6c757d transparent #6c757d transparent !important;
}

div.dataTable{
    width: 100% !important; /* Jer DataTables jede govna i stavlja vlastiti inline css -.- */
}

.dt-center{
    text-align: center;
}

.dt-center > button.btn {
    margin-left: 5px;
    margin-right: 5px;
}

div.invalid-feedback{
    font-size:1em;
}

.nav-sidebar .nav-item > .nav-link .right {
    transition: -webkit-transform ease-in-out .3s;
    transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
}

div.spacing-bottom{
    margin-bottom: 15px;
}

.select2-results__option[aria-selected=true]{
    color: black;
}

.list-item{
    display: list-item;
    list-style-type:disc;
    list-style-position: inside;
}