@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Početna";
}

<div class="card">
    <div class="card-header">
        Pozdrav
    </div>
    <div class="card-body">
        Dobrodošli u aplikaciju <b>CateringApp</b>
    </div>
</div>

