
@{
    ViewData["Title"] = "404 - Not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<div class="error-page">
    <h2 class="headline text-warning"> 404</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Zalutali ste.</h3>

        <p>
            Stranica koju ste tražili nije pronađena.
        </p>
    </div>
    <!-- /.error-content -->
</div>
