@using Microsoft.AspNetCore.Http;
@using  System.Security.Claims;

@{
    string user_role = User.FindFirst(ClaimTypes.Role).Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="~/js/app.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />

    <title>@ViewData["Title"]</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/dist/css/fontawesome-all.min.css">
    <script src="~/dist/js/fontawesome-all.min.js"></script>

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/dist/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/dist/js/jquery.min.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script src="~/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Bootstrap -->
    <!-- Bootstrap -->
    <!-- overlayScrollbars -->
    <!-- AdminLTE App -->
    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    @*<script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/plugins/raphael/raphael.min.js"></script>
        <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>*@


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>


</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="loading" id="loading" style="display:none"><div class="spinner"> <div></div><div></div> <div></div><div></div> </div></div>
    <div class="modal fade" id="errorModalMain" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upozorenje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Došlo je do greške!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" onclick="Global.logout()"><i class="fas fa-sign-out-alt"></i> Odjavi se</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">CateringApp</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/images/user-profile-svgrepo-com.svg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="/" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>
                                    Početna
                                </p>
                            </a>
                        </li>

                        @{
                            if (user_role == "ADMIN")
                            {
                                <li class="nav-item has-treeview">
                                    <a href="/caterings/all" class="nav-link">
                                        <i class="nav-icon fas fa-list"></i>
                                        <p>
                                            Pregled svih cateringa
                                        </p>
                                    </a>
                                </li>
                            }
                        }

                        <li class="nav-item has-treeview">
                            <a href="/caterings/my" class="nav-link">
                                <i class="nav-icon far fa-address-book"></i>
                                <p>
                                    Pregled mojih cateringa
                                </p>
                            </a>
                        </li>



                        @{
                            if (user_role == "ADMIN")
                            {
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-utensils"></i>
                                        <p>
                                            Hrana
                                            <i class="right fas fa-angle-down"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        <li class="nav-item" style="padding-left:15px">
                                            <a href="/food/categories" class="nav-link">
                                                <i class="far fa-folder-open nav-icon"></i>
                                                <p>Kategorije hrane</p>
                                            </a>
                                        </li>
                                        <li class="nav-item" style="padding-left:15px">
                                            <a href="/food/items" class="nav-link">
                                                <i class="fas fa-clipboard-list nav-icon"></i>
                                                <p>Popis stavaka hrane</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                @*<li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-tools"></i>
                                            <p>
                                                Administracija
                                            </p>
                                        </a>
                                    </li>*@
                                <li class="nav-item has-treeview">
                                    <a href="/users" class="nav-link">
                                        <i class="nav-icon fas fa-user-friends"></i>
                                        <p>
                                            Zaposlenici
                                        </p>
                                    </a>
                                </li>
                            }
                        }

                        <li class="nav-item has-treeview">
                            <a href="/vehicles" class="nav-link">
                                <i class="nav-icon fas fa-car-side"></i>
                                <p>
                                    Vozila
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            @*<strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>*@
            <strong>Copyright &copy; 2020</a>.</strong>
            All rights reserved.
            @*<div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 3.0.3-pre
                </div>*@
        </footer>
    </div>

    <script>
        Global.initialize();
    </script>

</body>
</html>
