
@{
    ViewData["Title"] = "Food items list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-item" onclick="FoodItem.clearForm();"><i class="fas fa-plus"></i> New food item</button>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <table id="items-list-table" class="table table-hover text-nowrap" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade add-item" role="dialog" id="add-item-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="form">
                <div class="modal-header">
                    <h5 class="modal-title">Food item editing</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Food item name</label>
                                <input type="text" class="form-control" name="item-name" id="item-name" autocomplete="off" required maxlength="128" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="item-description" id="item-description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Food category</label>
                            <select class="form-control" name="food-category" id="category-dropdown" required>
                                <option selected disabled></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="delete-item-modal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Are you certain you want to erase this food item?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="FoodItem.deleteItemConfirm()">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    FoodItem.initialize();
</script>

